.wrapper span {
    position: absolute;
    top: 20;
    animation: animate 5s linear infinite;
    background-color: #00aded;
    border-radius: 50%;
}

.wrapper span:nth-child(1) {
    left: 10%;
    top: 30%;
    animation-delay: 0.6s;
    width: 1.4vw;
    height: 1.4vw;
}

.wrapper span:nth-child(2) {
    left: 25%;
    top: 40%;
    animation-delay: 3s;
    width: 1.4vw;
    height: 1.4vw;
}

.wrapper span:nth-child(3) {
    top: 30%;
    left: 40%;
    animation-delay: 2s;
    width: 1.4vw;
    height: 1.4vw;
}

.wrapper span:nth-child(4) {
    top: 40%;
    left: 50%;
    animation-delay: 5s;
    width: 1.4vw;
    height: 1.4vw;
}

.wrapper span:nth-child(5) {
    top: 18%;
    left: 87%;
    animation-delay: 1s;
    width: 1.4vw;
    height: 1.4vw;
}
.wrapper span:nth-child(6) {
    top: 90%;
    left: 90%;
    animation-delay: 7s;
    width: 1.4vw;
    height: 1.4vw;
}

.wrapper span:nth-child(7) {
    top: 45%;
    left: 90%;
    animation-delay: 6s;
    width: 1.4vw;
    height: 1.4vw;
}

.wrapper span:nth-child(8) {
    top: 75%;
    left: 50%;
    animation-delay: 8s;
    width: 1.4vw;
    height: 1.4vw;
}

.wrapper span:nth-child(9) {
    top: 90%;
    left: 30%;
    animation-delay: 6s;
    width: 1.4vw;
    height: 1.4vw;
}

.wrapper span:nth-child(10) {
    top: 95%;
    left: 8%;
    animation-delay: 6s;
    width: 1.4vw;
    height: 1.4vw;
}

.wrapper span:nth-child(11) {
    top: 20%;
    left: 30%;
    animation-delay: 6s;
    width: 1.4vw;
    height: 1.4vw;
}

.wrapper span:nth-child(12) {
    top: 120%;
    left: 60%;
    animation-delay: 6s;
    width: 1.4vw;
    height: 1.4vw;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 800px) {
    .wrapper span:nth-child(9) {
        display: none;
    }
    .wrapper span:nth-child(12) {
        display: none;
    }
    .wrapper span:nth-child(10) {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .wrapper {
        display: none;
    }
}
